@media (max-width: 840px) {
    .main-container {
        font-size: 15px;
    }

    .top-section {
        padding: 19px;
    }

    .city-name {
        font-size: 30px;
    }

    button.change-city {
        font-size: 14px;
        margin-top: 10px;
        padding: 10px 0;
    }

    .measure {
        top: 20px;
        right: 43px;
    }

    .location {
        top: 19px;
        left: 19px;
    }

    button.detect-city {
        font-size: 14px;

        &:before {
            left: 5px;
            top: 2px;
        }
    }

    .weather-temperature {
        font-weight: 300;
        font-size: 90px;
        left: 9px;
        padding-right: 40px;

        &:after {
            top: 0px;
            right: 8px;
            font-size: 53px;
        }
    }

    .weather-icon {
        max-width: 100px;
    }

    .weather-describe {
        font-size: 18px;
        margin: 18px 0 0 -14px;
        line-height: 5px;
        letter-spacing: 0;
    }

    .bottom-section {
        padding: 5px 12px;
        display: block;
        height: 150px;
    }

    .weather-details {
        max-width: 50%;
        width: 50%;
        float: left;
        padding: 0 10px;
        letter-spacing: 0;
        height: 78px;
    }

    .weather-details__info {
        font-size: 18px;
    }

    .weather-details__label {
        padding: 0 0 3px;
    }

    button.city-input-btn {
        font-size: 15px;
        padding: 20px 16px 18px;
    }

    .city-input {
        font-size: 15px;
        letter-spacing: 0;
        padding: 19px 18px 16px;
    }

    .city-input__wrapper {
        border-radius: 4px;
        margin-top: 7px;
    }

    .inputFocused {

        .bottom-section,
        .main-section {
            transition: none;
            opacity: 0;
        }
    }
}